<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./upload.css" rel='stylesheet' type='text/css' />
    <link href="../../static/css/common.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../../static/css/element-ui.css">
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/element-ui.js"></script>
    <script src="../../static/js/axios.js"></script>
    <script src="../../static/js/ajax.js"></script>

    <title>Document</title>
</head>

<body>
    <div id="app">

        <div class="header">
            <div class="headr-container">
                <div class="logo"></div>
                <div class="search">
                    <input class="f_input" type="text" v-model="searchVal" @keyup.enter="search">
                    <button class="search-btn" @click="search">搜索</button>
                </div>
                <div class="fn">
                    <div class="upload">上传图片</div>
                    <div class="my"></div>
                    <div class="login">

                        登录
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <br>
            <br>
            <br> 标题：
            <el-input type="text" v-model="title" style="width:200px;"></el-input>
            <br>
            <br>
            <br>
            <br> 详情：
            <el-input type="textarea" v-model="detail" style="width:200px;"></el-input>
            <br>
            <br>
            <br>
            <br>
            <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove"
                list-type="picture">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>

        </div>
    </div>
    <script src="./upload.js"></script>
</body>

</html>