/*渐变  https://www.bestvist.com/css-gradient */
/*配色  https://www.webdesignrankings.com/resources/lolcolors/ */
/*配色  https://colorhunt.co/ */

*{padding:0;margin:0;box-sizing: border-box;}

ul,ol,li{list-style: none;}