/*渐变  https://www.bestvist.com/css-gradient */
/*配色  https://www.webdesignrankings.com/resources/lolcolors/ */
/*配色  https://colorhunt.co/ */

*{padding:0;margin:0;box-sizing: border-box;}

ul,ol,li{list-style: none;}

.flex{
  display: flex;
}

.flex-1{
  flex:1;
}

.vhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vhbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hbetween {
  display: flex;
  justify-content: space-between;
}

.vcenter {
  display: flex;
  align-items: center;
}